@CHARSET "ISO-8859-1";

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before, .cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
	*zoom: 1;
}

body {
	background-color: 'white';
	margin: 0px;
	overflow: hidden;
}

.hidden {
	display: none;
}

canvas {
	width: 80%;
	height: 80%
}

.section {
	float: left;
	margin-left: 15px;
}

.map-floor-controller {
	position: absolute;
}

.map-segment-text {
	position: absolute;
	margin-left: 10px;
}

.camera-icon {
	height: 35px;
	width: 50px;
}

}
.arrow-side-up {
	background-image: url("../../media/images/arrow_sides.png");
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
	margin-left: 9px;
}

.arrow-side-left {
	background-image: url("../../media/images/plus_minus_icons.png");
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
}

.arrow-side-right {
	background-image: url("../../media/images/plus_minus_icons.png");
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	background-position-x: -23px;
}

.arrow-side-down {
	background-image: url("../../media/images/arrow_sides.png");
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
	margin-left: 9px;
	background-position-x: -30px;
	margin-top: 5px;
}